.xiangyunLeft{background-image:url("/res/jeecms/img/xinjiang/xiangyun_left.gif"); float:left; height:31px; width:63px}
.xiangyunMid{background-image:url("/res/jeecms/img/xinjiang/xiangyun_title.gif"); float:left; height:31px; width:572px; align:center}
.xiangyunRight{background-image:url("/res/jeecms/img/xinjiang/xiangyun_right.gif"); float:left;height:31px; width:15px}

.moxiangyunLeft{background-image:url("/res/jeecms/img/xinjiang/smoxiangyun_left.gif"); float:left; height:37px; width:59px}
.moxiangyunRight{background-image:url("/res/jeecms/img/xinjiang/moxiangyun_right.gif"); float:left; height:37px; width:800px; background-size:100% 90%}
.moxiangyunLeft2{background-image:url("/res/jeecms/img/xinjiang/smoxiangyun_left.gif"); float:left; height:37px; width:59px}
.moxiangyunRight2{background-image:url("/res/jeecms/img/xinjiang/moxiangyun_right.gif"); float:left; height:37px; width:90%; background-size:100% 90%}

.moxiangyun3Left{background-image:url("/res/jeecms/img/xinjiang/smoxiangyun_left.gif"); float:left; height:37px; width:63px}
.moxiangyun3Right{background-image:url("/res/jeecms/img/xinjiang/moxiangyun_right.gif"); float:left; height:37px; width:60%; background-size:100% 90%}
.moxiangyun3Content{background-image:url("/res/jeecms/img/xinjiang/moxiangyun_right.gif"); float:left; height:37px; width:30%; background-size:100% 90%}

.more{color:#8d8d8d; font-size:12px;}

.listGroupInfo{ float:left; width:53%;}
.listGroupInfo ul{}
.listGroupInfo ul li{ line-height:15px; no-repeat 1px 10px; text-indent:10px;}
.listGroupInfo ul li a{ color: red}

.tableCoo{background-image:url("/res/jeecms/img/xinjiang/moxiangyun_right.gif"); float:left; height:37px; width:100px; background-size:100% 90%}
.cooPic{ float:left; width:12%; height:110px; margin-right:2.2%; overflow:hidden;}
.cooPic3{ float:left; width: 35%; margin-right:2.2%; overflow:hidden;}

.coo3Div{width:100%; margin:8px auto auto auto;}
.coo3Div ul{}
.coo3Div ul li{ width:31%; line-height:24px; margin-left:1.4%; margin-top:5px; float:left; display:inline;}

.coo3Right{ float:left; overflow:hidden;}
.coo3Right p{ padding-bottom:4px; font-size:12px; margin:0; color:#999; height:22px; overflow:hidden;}

